version: "3.8"

services:
  app:
    image: echovoid-common-web
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
    environment:
      SPRING_PROFILES_ACTIVE: prod
    volumes:
      - filestore-data:/data/filestore

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: echovoid_common
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgresql:/docker-entrypoint-initdb.d

  redis:
    image: redis
    volumes:
      - redis-data:/data

volumes:
  filestore-data:
  postgres-data:
  redis-data: